.titulo-principal{
    background-color: #efb810;
    padding-left: 30px;
}

#banner{
    width:100%;
}

.principal{
    color: #FFFFFF;
    background: #000000;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
    color: #FFFFFF;
}

p{
    text-align: center;
}

em strong{
    color: #efb810;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #efb810;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

