body{
    background-color: #000000;
    color: #FFFFFF;
}

#banner{
    width: 100%;
}

h1{
    font-size: 30px;
    color: #efb810;
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    font-size: 20px;
    color: #efb810;
}

#mision{
    font-size: 20px;
    color: #efb810;
}